hr.hr-2 {
    height: 2px;
}

.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1) !important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

img.img-thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    max-width: 40px;
    max-height: 40px;
}

.embed-responsive{
    width: 40em;
    margin: 0 auto;
}

div#listingTable p {
    padding: 0.5em;
    background-color: lightcyan;
    width: 15em;
    margin: 1em auto;
    border-radius: 10px;
}

.commentDescription{
    margin: 1em auto;
}

img.profileImg {
    width: 15em;
}