<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <form id="add-product-form" class="form mt-3 w-25 mx-auto" th:action="@{/note/add}" method="post">
        <div class="form-group">
            <label for="name" class="font-weight-bold">Exercise Name</label>
            <input type="text" class="form-control text-center" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="description" class="font-weight-bold">Description</label>
            <input type="text" class="form-control text-center" id="description" name="description" rows="10">
        </div>

            <!--<textarea class="form-control rounded-0"  rows="10"></textarea>-->
        <input type="submit" class="btn btn-outline-secondary" value="Add"/>
    </form>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>