<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <form id="add-product-form" class="form mt-3 w-25 mx-auto" th:action="@{/exercise/add}" method="post">
        <div class="form-group">
            <label for="add-product-name" class="font-weight-bold">Name</label>
            <input type="text" class="form-control text-center" id="add-product-name" name="name">
        </div>


        <div class="form-group">
            <label for="video" class="font-weight-bold">Video Url</label>
            <input type="text" class="form-control text-center" id="video" name="videoURL">
        </div>

        <div class="form-group">
            <label for="description" class="font-weight-bold">Description</label>
            <textarea id="description" class="form-control rounded-0" name="description" rows="10"></textarea>
        </div>
        <label for="musclegroup">Muscle Group:</label>
        <br>
        <select name="muscleGroup" id="musclegroup">
            <th:block th:each="musclegroup, iter : ${model}">
                <option th:value="${musclegroup}" th:text="${musclegroup}"></option>
            </th:block>
        </select>

        <br>
        <br>
        <input type="submit" class="btn btn-outline-secondary" value="Add"/>
    </form>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>