<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main class="mt-3">
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <!--<img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">-->
            <h1 class="text-uppercase mb-0">Get Stronger</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Don't give up</h2>
        </div>
    </header>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>